<h2><%= current_user.fullname %></h2>
<p>Owned pets</p>
<% current_user.pets.each do |pet| %>
<a href="/pets/<%= pet.id %>">
    <figure>
    <% if !pet.profile.nil? %>
        <img src="<%= pet.profile_pic %>" alt="<%= pet.profile_pic_filename %>" height="300" width="231"/> <br>
    <% end %>
    <figcaption>
    <%= pet.name %>
    </figcaption>
    </figure>
</a>
<% end %>

<a href="/owners/<%= current_user.id %>/edit">View/Edit Account Information</a>
