<h1><%= @pet.name %></h1>
<p>
  <h5>Profile picture:</h5>
  <img src="<%= @pet.profile_pic %>" alt="<%= @pet.profile_pic_filename %>" height="300" width="231"/> <br>
</p>
<p>Companion to: <%= @pet.owner.fullname unless @pet.owner.nil? %></p>
<p>Breed: <%= @pet.breed unless @pet.breed.nil? %></p>

<% @pet.pictures.each do |picture| %>
  <img src="<%= picture.get_picture_path %>" alt="<%= picture.filename %>" height="300" width="231"/>
<% end %>
<br>