<h1>Pictures of waiting to be adopted pets</h1>
<% @pictures.each do |picture| %>
<p><h3><%= picture.title %></h3>
<figure>
<img src="<%= picture.get_picture_path %>" alt="<%= picture.filename %>" height="300" width="231"/><br>
<figcaption>
<%= picture.caption %>
</figcaption>
<%= picture.description %><br>
</figure></p>
<% end %>
<br>
<button type="submit" onclick='window.location.href="/";'>Go Back</button>
<br>