<p>This is the Pictures index page</p>
<% @pictures.each do |picture| %>
<%= picture.title %><br>

<img src="<%= picture.get_picture %>" alt="<%= picture.filename %>" height="300" width="231"><br>

<%= picture.caption %><br>
<%= picture.description %><br>
<%= picture.get_picture %>
<% end %>